body {
    margin: 0px;
    padding: 0px;
    /* 
    font-family: 'Inter', sans-serif; 
    font-family: 'Mulish', sans-serif;
    font-family: 'Playfair Display', serif;
     */
}
ul {
    margin: 0px;
    padding: 0px;
}
li {
   list-style-type: none;
}
a {
    text-decoration: none;
}



                            /* HEADER */
.header {
    width:100%;
}
.container-header {
    width: 1220px;
    margin: 0 auto;
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
}
.navigation {
    margin-left: 380px;
    margin-right: 40px;
}
.nav-list {
    font-family: 'Inter', sans-serif; 
    font-size: 16px;
    display: flex;
    gap: 35px;
    margin-top: 12px;
}
.nav-element > a {
    font-weight: 400;
    color: #B8BECD;
}
.nav-element > .nav-element_home {
    font-weight: 500;
    color: #202336;
}
.nav-element > a:hover {
    text-decoration:underline;
    color: black;
}
.personal-list {
  display: flex;
  gap: 18px;
}
.btn {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 15px;
    width: 132px;
    height: 44px;
    border: 1px solid #FB8F1D;
    border-radius: 8px;
    cursor: pointer;
}
.btn-login {
    color: #FB8F1D;
    background: #fff;
}
.btn-register {
    color: #fff;
    background: #FB8F1D;
}

.btn:hover {
    color: black;
}
.container {
    width: 1220px;
    margin: 0 auto;
}
.wraper {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}
.search-block {
    margin-top: 30px;
}
.search-title {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    color: #202336;
}
.search-discription {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #202336;
    margin-top: 20px;
}
.search-list {
    margin-top: 40px;
}
select {
    margin: 10px;
    margin-left: 0px;
    width: 180px;
    height: 44px;
    padding: 10px 35px 10px 31px;
    font-size: 16px;
    border: 0.8px solid #AFB0B9;
    border-radius: 6px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(assets/Frame.svg) 90% / 6% no-repeat #fff;
  }
  
  /* CAUTION: IE hackery ahead */
  select::-ms-expand { 
      display: none; /* remove default arrow on ie10 and ie11 */
  }
  
  /* target Internet Explorer 9 to undo the custom arrow */
  @media screen and (min-width:0\0) {
      select {
          background:none\9;
          padding: 5px\9;
      } 
  }
.btn-main {
    width: 180px;
    height: 52px;
    margin-top: 50px;
    background: #FB8F1D;
    color: #fff;
}
.photo-main {
    position: relative;
    transform: translateX(85px);
}
                                    /* explore */
.explore-container {
    margin-top: 200px;
}
.explore-block {
    margin-top: 100px;
    margin-left: 80px;
}
.explore-title {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    color: #000000;
}
.explore-discription {
    margin: 0px;
    width: 450px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 30px;
    color: #7D7987;
}
.explore-photo {
    position: relative;
    transform: translateX(-40px);
}

                                    /* Gallery */

.featur-container {
    margin-top: 290px;
}
.title-area {
    width: 100%;
    display: flex;
    justify-content:space-between;
    margin-bottom: 55px;
}
.gallery-title {
    padding: 0px;
    margin: 0px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    color: #000000;
}
.gallery-more {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 60px;
    color: #FB8F1D;
}
.gallery-more::after {
    content: url(assets/vector-right.svg);
    margin-left: 5px;
}
.gallery-list {
    display: flex;
    gap:30px;
}

                                    /* Guides */

.guides-wraper {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 200px;
}
.guides-block {
    margin-top: 100px;
}

                                    /* Rewies */

.reviews-wraper {
    margin-top: 250px;
    margin-left: 50px;
    margin-right: 50px;
}
.reviews-block {
    
}
.reviews-title{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    color: #000000;
    margin: 0px;
}
.reviews-list {
    display: flex;
    flex-direction: column;
}
.reviews-awards {
    width: 189px;
    margin-top: 145px;
}
.reviews-discription {
    width: 450px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    margin-top: 30px;
    margin-bottom: 0px;
}
.reviews-avtor {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 48px;
    color: #000000;
    margin-top: 40px;
}
.reviews-area {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 48px;
    color: rgba(0, 0, 0, 0.85);
}
.reviews-menu {
    position: relative;
    margin-right: 130px;
    margin-top: 90px;
}
.reviews-photo {
    
    z-index: 0;
}
.menu-btn {
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 1;
}
.fon {
    position: relative;
    bottom: 0px;
    right: 0px;
    z-index: 2;
}
.btn-reviews {
    z-index: 5;
    cursor: pointer;
    padding: 0px;
    background: #fff;
    border: 0px;
}
.left-btn {
    position: absolute;
    left: 30px;
    bottom: 5px;
}
.right-btn {
    position: absolute;
    right: 0px;
    bottom: 5px;
}

                                    /* Stories */
.stories-wraper {
    margin-top: 213px;
    margin-left: 50px;
    margin-right: 50px;
    flex-direction: column;
}
.stories-block{
    display: flex;
    justify-content: space-between;
}
.stories-title {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    color: #000000;
    margin: 0px;
    padding: 0px;
}
.stories-all {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 60px;
    color: #FB8F1D;
}
.stories-all::after {
    content: url(assets/vector-right.svg);
    margin-left: 5px;
}
.stories-list {
    margin-top: 50px;
    display: flex;
    gap:30px;
}
.stories-photo {
    width: 260px;
    height: 230px;
}
.stories-name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 30px;
    color: #000000;
    margin-top: 5px;
}